@import "mixins";
.btn-cta {
    margin-top: 3.5rem;
    display: inline-flex;
    background: linear-gradient(267.53deg, #05c7f2 -5.24%, #0477bf 100%);
    border-radius: 8px;
    height: 59px;
    line-height: 59px;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;
    padding: 0 3rem;
    align-items: center;
    cursor: pointer;
    transition: filter 0.3s ease;
    img {
        margin-left: 0.625rem;
    }
    &:hover {
        filter: brightness(0.7);
    }
}

.btn-login {
    height: 3rem;
    padding: 0 3rem;
    background: transparent;
    border: 1px solid var(--brand-blue-2);
    box-sizing: border-box;
    border-radius: 8px;
    color: var(--white);
    transition: all 0.3s ease;
    &:hover {
        background: var(--brand-blue-2);
        color: var(--brand-blue-strong);
    }
}

@include responsive(360px) {
    .btn-cta {
        line-height: initial;
        text-align: center;
    }
}
